<section class="full-width explore">
    <div class="container">
        <div class="row">
            <div class="full-width main-title">
                <h2>Our Services</h2>
            </div>
            <div class="full-width">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/web' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceWEB.png" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Web Development</h3>
                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/mob' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceAPP.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>App Development</h3>
                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/saas' class="image position-relative">
                            <figure>
                                <img src="assets/images/servicesSAAS.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">

                                <h3>SAAS</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/training' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceOnline.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Online Training</h3>


                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/workshop' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceworkshop.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Workshop</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/projects' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceProjetcs.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Students Projects</h3>
                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/ux' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceUX.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">

                                <h3>UX Designing</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a data-aos-once="true" data-aos="fade-in" data-aos-duration=700 data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom" href='/seo' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceSEO.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">

                                <h3>SEO</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>