/*RESET CSS START*/
ul{list-style-type: none;padding: 0;margin: 0;text-decoration: none;}
a{text-decoration: none;}
h1,h2,h3,h5,h6,body,p,input,span,form,header,figure,label,strong,bold{margin: 0;font-weight: normal;}
*{box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-moz-box-sizing: border-box;}
img{max-width: 100%;}
body{font-family: 'Zilla Slab', serif;}
::-webkit-input-placeholder {opacity: 1; } ::-moz-placeholder {opacity: 1; } :-ms-input-placeholder {opacity: 1; } :-moz-placeholder {opacity: 1;}
::-webkit-input-placeholder {color: #000;} ::-moz-placeholder {color: #000;} :-ms-input-placeholder {color: #000;} :-moz-placeholder {color: #000;}
::-webkit-textarea-placeholder{font-size: 18px;}
.search-box input[type="search"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder{color: #000;}
.search-box input[type="search"]::-moz-placeholder{font-size: 20px;color: #000;}
address{font-style: normal;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
option {font-weight: normal; display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; }
.nav>li>a:focus, .nav>li>a:hover{background-color: #fff;}
.navbar-collapse{border: none !important;box-shadow: none !important;}
:focus {outline: none;}
.form-control:focus{box-shadow: none;}
a:hover{text-decoration: none;}
address{margin-bottom: 0;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;}
.btn.focus, .btn:focus, .btn:hover {color: #fff;text-decoration: none;border-color: transparent;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none;}
.nav-tabs{border: none;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background-color: transparent;border: none;}
/*RESET CSS END*/

/* COMMON CSS START */
.full-width{float: left;width: 100%;}
.auto-width{float: left;}
h1,h2,h3,h4,h5,h6,p{float: left;width: 100%;}
.header-menu li a,.learn-more,.see-course,.box-shadow1,.courses-info,.price,.course-name,.submit-btn .btn,.learn-more-btn,.learn-more-btn i,.tag,.modal-btn,.footer ul li a,.footer ul li address, .footer ul li .contact,.footer ul li i,.fixed-header,.hover-effect{transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;}
.center{text-align: center;}
.fixed{position: fixed;z-index: 111;}
.bg-white{background-color: #fff;}
.box-shadow{-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);}
.text-capitalize{text-transform: uppercase;}
p{color: #7b838a;font-size: 16px;line-height: 20px;font-weight: 400;line-height: 30px;font-family: 'Zilla Slab', serif;}
h2{color: #002347;font-size: 36px;line-height: 40px;margin-bottom: 15px;font-weight: 700;font-family: 'Zilla Slab', serif;}
h4{font-size: 22px;line-height: 30px;margin: 0;color: #002347;font-weight: 600;font-family: 'Zilla Slab', serif;}
h3{font-weight: 700;color: #002347;font-size: 25px;font-family: 'Zilla Slab', serif;}
h5{font-size: 22px;font-family: 'Zilla Slab', serif;}
.main-title{text-align: center;margin-bottom: 30px;}
::selection,-moz-selection,-webkit-selection,-ms-selection,-moz-selection,-o-selection{background-color: #002347;color: #fdc632;}
.form-control:focus{border-color: #ccc;}
.box-shadow1{box-shadow: 0px 0px 18px rgba(0,0,0,0.5);}
.center{text-align: center;}
.sub-title h2{margin-bottom: 0;}
.sub-title{margin-bottom: 30px;}
.box-shadow-2{box-shadow: 0px 0px 18px rgba(125,125,125,0.3);}
/* COMMON CSS END */

.banner{position: relative;width: 100%;padding-top: 80px;min-height: 550px;margin-bottom: 5rem;}
.inner-banner-section{min-height: 450px;}
.banner figure {float: left;width: 100%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;width: 100%;height: 100%;object-fit: cover;}
.banner figure img {width: 100%;height: 100%;object-fit: cover;}
.banner-content{width: 100%;position: relative;text-align: center;padding: 150px 0;width: 520px;max-width: 100%;float: left;font-family: 'Zilla Slab', serif;}
.inner-banner .banner-content{padding: 127px 0;width: 100%;}
.bigger{float: left;width: 100%;font-weight: 900;font-size: 45px;line-height: 50px;margin-bottom: 10px;}
.learn-more{color: #fdc632;background-color: #002347;border: 2px solid transparent;padding: 10px 30px;margin-right: 10px;font-size: 14px;line-height: 20px;font-weight: 400;}
.see-course{color: #002347;background-color: #fdc632;border: 2px solid transparent;padding: 10px 30px;font-size: 14px;line-height: 20px;font-weight: 400;}
.learn-more:hover{background-color: transparent;color: #002347;border: 2px solid #002347;}
.see-course:hover{color: #fdc632;background-color: #002347;border: 2px solid #002347;}
.banner-content h2{margin-bottom: 30px;font-size: 45px;line-height: 55px;color: #fff;font-weight: 700;text-align: left;font-family: 'Zilla Slab', serif;}
.banner-content p{font-size: 25px;line-height: 30px;color: #fff;margin-bottom: 5px;font-weight: 600;text-align: left;font-family: 'Zilla Slab', serif;}
.inner-banner h1,.inner-banner p{color: #fff !important;font-weight: 900;}
.inner-banner{padding: 150px 0;float: left;width: 100%;}
.inner-banner.blog-banner{padding: 150px 0;}
.form-section-internship{padding: 30px 55px;min-height: 436px;}