<section class="full-width about-area">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="full-width blog-img">
                        <figure>
                            <img data-aos-once="true" data-aos="zoom-in-down" data-aos-duration="500" data-aos-easing="ease-out-sine" src="assets/images/welc.jpg" alt="about" title="about">
                        </figure>
                    </div>
                </div>
                <div  class="col-xs-12 col-sm-12 col-md-6">
                    <div class="blog-content full-width" style="overflow: hidden;">
                        <h3 data-aos-once="true" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-in">Welcome to Webizy Solutions</h3>
                        <p data-aos-once="true" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-easing="ease-in">Webizy IT solutuins is doing an astonishing work on the ground of IT fraternity. Our experts are talented enough to convey the best solutions. We assure clients to bring their unique thoughts in the marketplace with more intuitive manner. We believe in maintaining punctuality and quality is our key area to deliver splendid work. To maintain the top notch services We have hands of experience on best project management tools available in the market.  We know that our client's time is valuable and so we strive for them to make use of their time in the most efficient manner.</p>
                       <!-- <button type="button" class="btn learn-more-btn tex text-uppercase" data-toggle="modal" data-target="#myModal7">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        @media only screen and (max-width: 1200px) and (min-width: 992px){
            .blog-img figure img{ left: -7%; }
            .blog-content { z-index: 2;background-color: white;}
        }
    </style>
</section>
