<section class="full-width client-start">
    <div class="container">
        <div class="row">
            <div id="theClientCarousel">
                <carousel [loop]="true" [cellWidth]=240 [overflowCellsLimit]=1 [cellsToShow]='itemsPerCarousel' [autoplay]="true" [autoplayInterval]=2000 [transitionDuration]=700 [borderRadius]=12  id="ClientCarousel">
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/ss.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/dharesh.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/viraj.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/gietu.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/ss.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/dharesh.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/viraj.png" alt="image" title="image">
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="clientImg">
                            <img src="assets/images/gietu.png" alt="image" title="image">
                        </div>
                    </div>
                </carousel>
            </div>
        </div>
    </div>
</section>
