<div class="row">
    <div data-aos-offset="500" data-aos-animation="ease-in-back" data-aos="slide-left" data-aos-duration="600"
        class="col-xs-12 col-sm-12 col-md-8">
        <div class="full-width slider-content">
            <h2>When you Hire us, You Hire Quality and Excellence</h2>
            <p>No matter the Technology or Services
                By entrusting your faith and time in us, Webizy IT solutions makes sure your investment is
                in the right hands. Showing flexibility in our work and delivering results have been the key
                drivers of our growth.
                Taking the innovative approach to transform your ideas into reality, you just have to relax
                and let our Professionals pave the path towards the realization of your ideas into reality!
            </p>
        </div>
    </div>
    <div data-aos-offset="550" data-aos="slide-right" data-aos-duration="1500"
        class="col-xs-12 col-sm-12 col-md-4">
        <div class="hire-us full-width">
            <figure>
                <img src="assets/images/image8.jpg" alt="image" title="imgae">
            </figure>
        </div>
    </div>
</div>
