<section class="full-width webizy">
    <div class="full-width bg-red webizy-content">
      <div class="container">
        <div class="row">
          <div class="full-width ">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3">
                <div style="overflow: hidden;" class="full-width webizy-solution">
                  <h4 data-aos="zoom-in-down" data-aos-duration="800" data-aos-easing="ease-in" >Group of</h4>
                  <h3 data-aos="fade-up" data-aos-duration="600" data-aos-delay="400" >Webizy Solutions</h3>
                </div>
              </div>
              <div style="overflow: hidden;" class="col-xs-12 col-sm-12 col-md-3">
                <div data-aos="zoom-in-left" data-aos-duration="800" data-aos-easing="ease-in" data-aos-delay="400" class="full-width webizy-it-solution box-shadow1">
                  <h4>Webizy IT Solutions</h4>
                </div>
              </div>
              <div style="overflow: hidden;" class="col-xs-12 col-sm-12 col-md-3">
                <div data-aos="zoom-out-up" data-aos-duration="800" data-aos-easing="ease-in" data-aos-delay="900" class="full-width webizy-it-solution box-shadow1">
                  <h4>Webizy Academy</h4>
                </div>
              </div>
              <div style="overflow: hidden;" class="col-xs-12 col-sm-12 col-md-3">
                <div data-aos="zoom-in-right" data-aos-duration="800" data-aos-easing="ease-in" data-aos-delay="400" class="full-width webizy-it-solution box-shadow1">
                  <h4>Webizy Social Service</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>