<section class="nfo full-width">
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8">
            <div data-aos="fade-right" data-aos-duration="1100" data-aos-easing="ease-in-sine" data-aos-once="true" class="full-width slider-content">
              <h2>When you Hire us, You Hire Quality and Excellence</h2>
              <p>No matter the Technology or Services
                By entrusting your faith and time in us, Webizy IT solutions makes sure your investment is in the right
                hands. Showing flexibility in our work and delivering results have been the key drivers of our growth.
                Taking the innovative approach to transform your ideas into reality, you just have to relax and let our
                Professionals pave the path towards the realization of your ideas into reality!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="hire-us full-width">
              <figure style="overflow: hidden;">
                <img data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="600" data-aos-duration="1200" data-aos-once="true" src="assets/images/image8.jpg" alt="image" title="imgae">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>