<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="full-width webizy-solution">
                <h4>Group of</h4>
                <h3>Webizy Solutions</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="full-width webizy-it-solution box-shadow1">
                <h4>Webizy IT Solutions</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="full-width webizy-it-solution box-shadow1">
                <h4>Webizy Academy</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="full-width webizy-it-solution box-shadow1">
                <h4>Webizy Social Service</h4>
            </div>
        </div>
    </div>
</div>