<section class="full-width client-start">
    <div class="container">
        <div class="row">
            <carousel id="bestInternCarousel" [margin]=20 [loop]="true" [transitionTimingFunction]="howToIn"
                [cellWidth]=300 [borderRadius]=12 [height]=360 [overflowCellsLimit]=6 [cellsToShow]='totalpics' [autoplay]="true" [images]="images"
                [autoplayInterval]=2000 [transitionDuration]=700 [pauseOnHover]="true" [arrowsTheme]="themeArrow">
                <!-- All the images are live injected through typescript -->
            </carousel>
        </div>
    </div>
</section>