<section class="full-width popular-courses">
	<div class="container">
		<div class="row">
			<div class="main-title full-width">
				<h2>Our Services</h2>
				<p data-aos="zoom-out" data-aos-duration="700">We deliver best</p>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="courses-info full-width">
						<div data-aos-once="true" data-aos="flip-right" data-aos-duration="400" data-aos-easing="ease-in-out" class="course-image full-width">
							<figure>
								<img src="assets/images/image1.webp" alt="Course 1" />
							</figure>
						</div>
						<div class="course-content full-width">
							<a href='/web' data-aos="zoom-out" data-aos-duration="600" data-aos-once="true" data-aos-delay="1000" class="course-name">Web Development</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="courses-info full-width">
						<div data-aos-once="true" data-aos="flip-down" data-aos-duration="400" data-aos-delay="400" data-aos-easing="ease-in-out" class="course-image full-width">
							<figure>
								<img src="assets/images/image2.webp" alt="Course 1" />
							</figure>
						</div>
						<div class="course-content full-width">
							<a href='/mob' data-aos="zoom-out" data-aos-duration="600" data-aos-once="true" data-aos-delay="1000" class="course-name">Application Development</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="courses-info full-width">
						<div data-aos-once="true" data-aos="flip-left" data-aos-duration="400" data-aos-delay="600" data-aos-easing="ease-in-out" class="course-image full-width">
							<figure>
								<img src="assets/images/image3.webp" alt="Course 1" />
							</figure>
						</div>
						<div class="course-content full-width">

							<a href='/saas' data-aos="zoom-out" data-aos-duration="600" data-aos-once="true" data-aos-delay="1000" class="course-name">SAAS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="courses-info full-width">
						<div data-aos-once="true" data-aos="flip-right" data-aos-duration="400" data-aos-delay="200" data-aos-easing="ease-in-out" class="course-image full-width">
							<figure>
								<img src="assets/images/image4.webp" alt="Course 1" />
							</figure>
						</div>
						<div class="course-content full-width">

							<a href='/training' data-aos="zoom-out" data-aos-duration="600" data-aos-once="true" data-aos-delay="1000" class="course-name">Online Trainings</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="courses-info full-width">
						<div data-aos-once="true" data-aos="flip-up" data-aos-duration="400" data-aos-delay="400" data-aos-easing="ease-in-out" class="course-image full-width">
							<figure>
								<img src="assets/images/image5.webp" alt="Course 1" />
							</figure>
						</div>
						<div class="course-content full-width">
							<!-- <span class="price">$25</span> -->
							<a href='/workshop' data-aos="zoom-out" data-aos-duration="600" data-aos-once="true" data-aos-delay="1000" class="course-name">Workshops</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="courses-info full-width">
						<div data-aos-once="true" data-aos="flip-left" data-aos-duration="400" data-aos-delay="800" data-aos-easing="ease-in-out" class="course-image full-width">
							<figure>
								<img src="assets/images/image6.webp" alt="Course 1" />
							</figure>
						</div>
						<div class="course-content full-width">

							<a href='/ux' data-aos="zoom-out" data-aos-duration="600" data-aos-once="true" data-aos-delay="1000" class="course-name">UX Designing</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>