
<section class="full-width about-best-service">
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="blog-content best-service full-width" style="overflow: hidden;">
						<h3 data-aos="zoom-in-up" data-aos-once="true" data-aos-duration="800" ><span data-aos="zoom-out-down" data-aos-once="true" data-aos-delay="700" data-aos-duration="800">Best</span> Service Provider</h3>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="full-width blog-img">
						<figure>
							<img src="assets/images/about2.jpg" alt="about" title="about">
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>