<div id="internReview">
    <carousel [loop]="true" [overflowCellsLimit]=1 [cellsToShow]=1 [autoplay]="true" [autoplayInterval]=5000 [transitionDuration]=900
        [borderRadius]=12 [height]='carouselHeight' id="internCarousel">
        <div class="carousel-cell full-width">
            <div class="intern-box">
                <div class="intern-box-before"
                    [ngStyle]="{'background-image':'url(../../../assets/images/intern1.jpeg)'}"></div>
                <div class="intern-image">
                    <img src="./assets/images/intern1.jpeg" alt="Aditya" title="Adity">
                </div>
                <div class="intern-words">
                    <p>Kishan-During my internship with Webizy IT Solutions, I particularly found my
                        marketing skills to be useful in improving business management and development.
                        Although I found challenging but valuable for my career.</p>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="intern-box">
                <div class="intern-box-before"
                    [ngStyle]="{'background-image':'url(../../../assets/images/kshtijpic.jpeg)'}"></div>
                <div class="intern-image">
                    <img src="../../assets/images/kshtijpic.jpeg" alt="Aditya" title="Adity">
                </div>
                <div class="intern-words">
                    <p>Kshitij-Being a marketing student I had ample of theoretical knowledge but I
                        wanted to have experience of it's practical implementation, which brought me to
                        webizy it solutions where in I interned with Webizy IT solutions</p>
                </div>
            </div>
        </div>
        <div class="carousel-cell full-width">
            <div class="intern-box">
                <div class="intern-box-before"
                    [ngStyle]="{'background-image':'url(../../../assets/images/intern1.jpeg)'}"></div>
                <div class="intern-image">
                    <img src="../../assets/images/intern1.jpeg" alt="Aditya" title="Adity">
                </div>
                <div class="intern-words">
                    <p>Kishan-During my internship with Webizy IT Solutions, I particularly found my
                        marketing skills to be useful in improving business management and development.
                        Although I found challenging but valuable for my career.</p>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="intern-box">
                <div class="intern-box-before"
                    [ngStyle]="{'background-image':'url(../../../assets/images/kshtijpic.jpeg)'}"></div>
                <div class="intern-image">
                    <img src="../../assets/images/kshtijpic.jpeg" alt="Aditya" title="Adity">
                </div>
                <div class="intern-words">
                    <p>Kshitij-Being a marketing student I had ample of theoretical knowledge but I
                        wanted to have experience of it's practical implementation, which brought me to
                        webizy it solutions where in I interned with Webizy IT solutions</p>
                </div>
            </div>
        </div>
    </carousel>
</div>