<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="full-width creative">
            <h2>A Complete Creative Solutions Provider For Web, Mobile & Software</h2>
            <p>Webizy It solution Pvt Ltd is an offshore development outsourcing IT company is doing an
                astonishing work on the ground of IT fraternity. We have the global presence in India, USA
                as well as Canada with a team of 100+ in-house talents. Our commitment and belief to achieve
                the best is making us the most demandable company globally. We believe in stepping into
                client’s shoe for building their product in more awesome ways. Our experts are talented
                enough to convey the best solutions. We assure clients to bring their unique thoughts in the
                marketplace with more intuitive manner. We believe in maintaining punctuality and quality is
                our key area to deliver splendid work.</p>
        </div>
    </div>
    <div style="padding: 0;" data-aos-offset="500" data-aos="zoom-in" data-aos-duration="1500"
        class="col-xs-12 col-sm-12 col-md-3">
        <div class="full-width info-image">
            <figure>
                <img src="assets/images/test123.jpg" alt="info" title="info">
            </figure>
        </div>
    </div>
</div>