<section class="full-width who-we-are center">
	<div class="container">
		<div class="row">
			<div class="full-width sub-title" style="overflow: hidden;">
				<h2 data-aos-once="true" data-aos="zoom-in" data-aos-duration="900" data-aos-easing="ease-in-sine" >Who we are</h2>
			</div>
			<div class="full-width" style="overflow: hidden;">
				<p data-aos-once="true" data-aos="zoom-out-down" data-aos-anchor-placement="top-bottom" data-aos-delay="600" data-aos-duration="700" data-aos-easing="ease-in" >
					We are a company that was founded by a group of college friends in the hostel dorm now working on
					the grounds
					of IT fraternity.
					Our experts believe in providing the best possible business solution to our clients. We assure
					clients to
					bring their unique thoughts in the marketplace in more intuitive manner.To maintain the top-notch
					services, we
					have hands of
					experience on best project management tools available in the market. We know that our client's time
					is
					valuable and so we strive to make use of their time in the most efficient manner.
				</p>
			</div>
		</div>
	</div>
</section>