<section class="full-width our-team center">
	<div class="container">
		<div class="row">
			<div class="full-width sub-title">
				<h2>Our Team</h2>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 our-team-section">
					<div data-aos-once="true" data-aos="flip-left" data-aos-duration="800" data-aos-easing="ease-out" class="full-width center our-team-image">
						<figure>
							<img src="assets/images/gaurav.webp" alt="Gaurav" title="Gaurav">
						</figure>
						<h5 data-aos-once= "true" data-aos-anchor-placement="center-bottom" data-aos="zoom-out" data-aos-delay="500" data-aos-duration="400" >Mr. Gaurav Kumar</h5>
						<span data-aos="">CEO</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 our-team-section">
					<div data-aos-once="true" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="800" data-aos-easing="ease-out" class="full-width center our-team-image">
						<figure>
							<img src="assets/images/shiv.webp" alt="Shiv" title="Shiv">
						</figure>
						<h5 data-aos-once= "true" data-aos-anchor-placement="center-bottom" data-aos="zoom-out" data-aos-delay="1200" data-aos-duration="400" >Mr. Shiv Kumar</h5>
						<span>CTO</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 our-team-section">
					<div data-aos-once="true" data-aos="flip-right" data-aos-duration="800" data-aos-easing="ease-out" class="full-width center our-team-image">
						<figure>
							<img src="assets/images/bikash.webp" alt="bikash" title="Bikash">
						</figure>
						<h5 data-aos-once= "true" data-aos-anchor-placement="center-bottom" data-aos="zoom-out" data-aos-delay="500" data-aos-duration="400" >Mr. Bikash Singh</h5>
						<span>CMO</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>