<section class="full-width we-offer-section">
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="full-width we-offer-section-content">
						<h2>
							“We serve beyond what you seek in no time”
						</h2>
						<p>
							Webizy It solution Pvt Ltd is an offshore development outsourcing IT company is doing an
							astonishing work
							on the ground of IT fraternity. We have the global presence in India, USA as well as Canada
							with a team of
							100+ in-house talents.
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="full-width we-offer-section-figure">
						<figure>
							<img data-aos-offset="300" data-aos="zoom-in-down" data-aos-once ="true"  src="assets/images/card.png" alt="info" title="info">
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
