<div data-aos-offset="450" data-aos="slide-up" data-aos-duration="800" class="full-width">
    <div class="row">
        <div data-aos-offset="650" data-aos="flip-left" data-aos-duration="1500"
            class="col-xs-12 col-sm-12 col-md-4">
            <div class="full-width feature-list box-shadow1">
                <span class="full-width features-icon">
                    <img src="assets/images/plan.svg" alt="plan" title="plan">
                </span>
                <div class="features-desc full-width">
                    <h4>Expertise on Multiple Platforms</h4>
                    <p>
                        A well conceived plan for your work on various platforms
                    </p>
                </div>
            </div>
        </div>
        <div data-aos-offset="650" data-aos="flip-down" data-aos-duration="1500"
            class="col-xs-12 col-sm-12 col-md-4">
            <div class="full-width feature-list box-shadow1">
                <span class="full-width features-icon">
                    <img src="assets/images/client.svg" alt="client" title="client">
                </span>
                <div class="features-desc full-width">
                    <h4>Longterm Business Relationship</h4>
                    <p>
                        Excellent client service with 24*7 availability.
                    </p>
                </div>
            </div>
        </div>
        <div data-aos-offset="650" data-aos="flip-right" data-aos-duration="1500"
            class="col-xs-12 col-sm-12 col-md-4">
            <div class="full-width feature-list box-shadow1">
                <span class="full-width features-icon">
                    <img src="assets/images/developer.svg" alt="developer" title="developer">
                </span>
                <div class="features-desc full-width">
                    <h4>Highly skilled performers</h4>
                    <p>
                        Highly trained developers and trainers provided
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>