<section class="full-width blog">
    <div class="container">
        <div class="row">
            <div class="row">
                <!-- Angular -->
                <app-angular data-aos="zoom-in" data-aos-duration="1400" data-aos-easing="ease-out-sine" data-aos-once="true" ></app-angular>
                <!-- React -->
                <app-react data-aos="zoom-in" data-aos-duration="1400" data-aos-easing="ease-out-sine" data-aos-once="true" ></app-react>
            </div>
        </div>
    </div>
</section>