<div class="row" style="max-width: 100vw;">
    <div data-aos-offset="300" data-aos-once="true" data-aos="fade-up" class="col-xs-12 col-sm-12 col-md-6">
        <div class="full-width we-offer-section-content">
            <h2>
                “We serve beyond what you seek in no time”
            </h2>
            <p>
                Webizy It solution Pvt Ltd is an offshore development outsourcing IT company is doing an
                astonishing work on the ground of IT fraternity. We have the global presence in India, USA
                as well as Canada with a team of 100+ in-house talents.
            </p>
        </div>
    </div>
    <div 
        class="col-xs-12 col-sm-12 col-md-6">
        <div class="full-width we-offer-section-figure">
            <figure data-aos-delay="150" data-aos-once="true" data-aos-offset="300" data-aos="zoom-out-left" data-aos-duration="300">
                <img src="assets/images/card.png" style="max-width: inherit; overflow: hidden;" alt="info" title="info">
            </figure>
        </div>
    </div>
</div>