<!-- banner start -->
<section class="banner full-width">
    <figure><img src="assets/images/home.jpg" alt="banner" title="banner"></figure>
    <div class="container">
        <div class="row">
            <div class="banner-content full-width">
                <p class="text-uppercase">
                    <span class="bigger">Best IT Solutions</span> With Us.
                </p>
                <h2 class="text-uppercase bigger">
                    "We help you to know you better"

                </h2>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->



<!-- we offer start -->
<section class="full-width we-offer-section">
    <div class="container">
        <app-we-offer style="max-width: 100vw; overflow: none;"></app-we-offer>
    </div>
</section>
<!-- we offer end -->

<!-- explore by catergory start -->
<section class="full-width explore">
    <div class="container">
        <div class="row">
            <div class="full-width main-title">
                <h2>Our Services</h2>
            </div>
            <!-- <app-services-offering></app-services-offering> -->
        </div>
    </div>
</section>
<!-- explore by category end -->

<!-- info start -->
<section class="info full-width">
    <div data-aos-offset="400" data-aos="zoom-in-down" data-aos-duration="1000" class="container">

    </div>
</section>
<!-- info end -->

<!-- why webizy -->
<section class="features-section full-width bg-white">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Why to go with webizy IT solutions</h2>
                <p>Beauty Of Work</p>
            </div>
            
        </div>
    </div>
</section>
<!-- why webixy ends -->

<!-- why hire us start-->

<section class="nfo full-width">
    <div class="container">

    </div>
</section>

<!-- why hire us ends -->

<!-- Our client start -->
<!-- <section class="full-width our-client">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Our Clients</h2>
            </div>
            <div class="row">
                <div class="full-width">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width our-client-reviews">
                            <figure>
                                <img src="assets/images/steel.png" alt="client" title="client">
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width our-client-reviews">
                            <figure>
                                <img src="assets/images/GIET.jpg" alt="client" title="client">
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width our-client-reviews">
                            <figure>
                                <img src="assets/images/viraj.png" alt="client" title="client">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Our client end -->

<!-- Client review start -->
<section class="full-width client-review">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Our Intern/Students Reviews</h2>
            </div>
        </div>
        <app-intern-review></app-intern-review>
    </div>
</section>
<!-- Client review end -->


<!-- client start -->
<section class="full-width client-start">
    <div class="container">
        <div class="row">
            <div class="full-width main-title">
                <h2>Our Clients</h2>
            </div>
        </div>
    </div>
    <app-our-clents></app-our-clents>
</section>
<!-- client end -->


<!-- webizy group -->
<section class="full-width webizy">
    <div class="full-width bg-red webizy-content">
        <app-group-webizy></app-group-webizy>
    </div>
</section>

<!-- webixy group ends -->