<!-- banner start -->
<section class="banner full-width">
    <figure><img src="assets/images/home.jpg" alt="banner" title="banner"></figure>
    <div class="container">
        <div class="row">
            <div class="banner-content full-width">
                <p class="text-uppercase">
                    <span class="bigger">Best IT Solutions</span> With Us.
                </p>
                <h2 class="text-uppercase bigger">
                    "We help you to know you better"

                </h2>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->



<!-- we offer start -->
<section class="full-width we-offer-section">
    <div class="container">
        <div class="row">
            <div class="row">
                <div data-aos-offset="300" data-aos="fade-up" class="col-xs-12 col-sm-12 col-md-6">
                    <div class="full-width we-offer-section-content">
                        <h2>
                            “We serve beyond what you seek in no time”
                        </h2>

                        <p>
                            Webizy It solution Pvt Ltd is an offshore development outsourcing IT company is doing an
                            astonishing work on the ground of IT fraternity. We have the global presence in India, USA
                            as well as Canada with a team of 100+ in-house talents.
                        </p>
                    </div>
                </div>
                <div data-aos-delay="150" data-aos-offset="300" data-aos="zoom-out-left" data-aos-duration="1300" class="col-xs-12 col-sm-12 col-md-6">
                    <div class="full-width we-offer-section-figure">
                        <figure>

                            <img src="assets/images/card.png" alt="info" title="info">

                        </figure>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- we offer end -->

<!-- explore by catergory start -->
<section class="full-width explore">
    <div class="container">
        <div class="row">
            <div class="full-width main-title">
                <h2>Our Services</h2>
            </div>
            <div class="full-width">
                <div class="row">
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/web' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceWEB.png" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Web Development</h3>
                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/mob' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceAPP.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>App Development</h3>
                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/saas' class="image position-relative">
                            <figure>
                                <img src="assets/images/servicesSAAS.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">

                                <h3>SAAS</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/training' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceOnline.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Online Training</h3>


                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/workshop' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceworkshop.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Workshop</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/projects' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceProjetcs.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">
                                <h3>Students Projects</h3>
                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/ux' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceUX.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">

                                <h3>UX Designing</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                    <div data-aos-offset="200" data-aos="zoom-in-down" data-aos-duration="1000" class="col-xs-12 col-sm-12 col-md-3">
                        <a href='/seo' class="image position-relative">
                            <figure>
                                <img src="assets/images/serviceSEO.jpg" alt="image" title="image">
                            </figure>
                            <div class="image-title">

                                <h3>SEO</h3>

                                <button class="btn image-description">
                                    Click Here
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- explore by category end -->

<!-- info start -->
<section class="info full-width">
    <div data-aos-offset="400" data-aos="zoom-in-down" data-aos-duration="1000" class="container">
        <div class="row">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="full-width creative">
                        <h2>A Complete Creative Solutions Provider For Web, Mobile & Software</h2>
                        <p>Webizy It solution Pvt Ltd is an offshore development outsourcing IT company is doing an
                            astonishing work on the ground of IT fraternity. We have the global presence in India, USA
                            as well as Canada with a team of 100+ in-house talents. Our commitment and belief to achieve
                            the best is making us the most demandable company globally. We believe in stepping into
                            client’s shoe for building their product in more awesome ways. Our experts are talented
                            enough to convey the best solutions. We assure clients to bring their unique thoughts in the
                            marketplace with more intuitive manner. We believe in maintaining punctuality and quality is
                            our key area to deliver splendid work.</p>
                    </div>
                </div>
                <div data-aos-offset="500" data-aos="slide-right" data-aos-duration="1500" class="col-xs-12 col-sm-12 col-md-4">
                    <div class="full-width info-image">
                        <figure>
                            <img src="assets/images/test123.jpg" alt="info" title="info">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- info end -->

<!-- why webizy -->
<section class="features-section full-width bg-white">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Why to go with webizy IT solutions</h2>
                <p>Beauty Of Work</p>
            </div>

            <div data-aos-offset="450" data-aos="slide-up" data-aos-duration="800" class="full-width">
                <div class="row">
                    <div data-aos-offset="650" data-aos="flip-left" data-aos-duration="1500" class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width feature-list box-shadow1">
                            <span class="full-width features-icon">

                                <img src="assets/images/plan.svg" alt="plan" title="plan">
                            </span>
                            <div class="features-desc full-width">
                                <h4>Expertise on Multiple Platforms</h4>
                                <p>
                                    A well conceived plan for your work on various platforms
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-aos-offset="650" data-aos="flip-down" data-aos-duration="1500" class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width feature-list box-shadow1">
                            <span class="full-width features-icon">

                                <img src="assets/images/client.svg" alt="client" title="client">
                            </span>
                            <div class="features-desc full-width">
                                <h4>Longterm Business Relationship</h4>
                                <p>
                                    Excellent client service with 24*7 availability.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-aos-offset="650" data-aos="flip-right" data-aos-duration="1500" class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width feature-list box-shadow1">
                            <span class="full-width features-icon">

                                <img src="assets/images/developer.svg" alt="developer" title="developer">
                            </span>
                            <div class="features-desc full-width">
                                <h4>Highly skilled performers</h4>
                                <p>
                                    Highly trained developers and trainers provided
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- why webixy ends -->

<!-- why hire us start-->




<section class="nfo full-width">
    <div class="container">
        <div class="row">
            <div class="row">
                <div data-aos-offset="500" data-aos-animation="ease-in-back" data-aos="slide-left" data-aos-duration="600" class="col-xs-12 col-sm-12 col-md-8">
                    <div class="full-width slider-content">
                        <h2>When you Hire us, You Hire Quality and Excellence</h2>
                        <p>No matter the Technology or Services
                            By entrusting your faith and time in us, Webizy IT solutions makes sure your investment is
                            in the right hands. Showing flexibility in our work and delivering results have been the key
                            drivers of our growth.
                            Taking the innovative approach to transform your ideas into reality, you just have to relax
                            and let our Professionals pave the path towards the realization of your ideas into reality!
                        </p>
                    </div>
                </div>
                <div data-aos-offset="550" data-aos="slide-right" data-aos-duration="1500" class="col-xs-12 col-sm-12 col-md-4">
                    <div class="hire-us full-width">
                        <figure>
                            <img src="assets/images/image8.jpg" alt="image" title="imgae">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why hire us ends -->

<!-- Our client start -->
<!-- <section class="full-width our-client">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Our Clients</h2>
            </div>
            <div class="row">
                <div class="full-width">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width our-client-reviews">
                            <figure>
                                <img src="assets/images/steel.png" alt="client" title="client">
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width our-client-reviews">
                            <figure>
                                <img src="assets/images/GIET.jpg" alt="client" title="client">
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width our-client-reviews">
                            <figure>
                                <img src="assets/images/viraj.png" alt="client" title="client">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Our client end -->

<!-- Client review start -->
<section class="full-width client-review">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Our Intern/Students Reviews</h2>
            </div>
        </div>
        <app-intern-review></app-intern-review>
    </div>
</section>
<!-- Client review end -->


<!-- client start -->
<section class="full-width client-start">
    <div class="container">
        <div class="row">
            <div class="full-width main-title">
                <h2>Our Clients</h2>
            </div>
        </div>
    </div>
    <app-our-clents></app-our-clents>
</section>
<!-- client end -->







<!-- webizy group -->
<section class="full-width webizy">
    <div class="full-width bg-red webizy-content">
        <div class="container">
            <div class="row">
                <div class="full-width ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="full-width webizy-solution">
                                <h4>Group of</h4>
                                <h3>Webizy Solutions</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="full-width webizy-it-solution box-shadow1">
                                <h4>Webizy IT Solutions</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="full-width webizy-it-solution box-shadow1">
                                <h4>Webizy Academy</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="full-width webizy-it-solution box-shadow1">
                                <h4>Webizy Social Service</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- webixy group ends -->