<app-top-banner></app-top-banner>

<app-we-offer></app-we-offer>

<app-explor-by-category></app-explor-by-category>

<app-our-info></app-our-info>

<app-why-webizy></app-why-webizy>

<app-why-hire-us></app-why-hire-us>

<section class="full-width client-review">
    <div class="container">
        <div class="row">
            <div class="main-title full-width">
                <h2>Our Intern/Students Reviews</h2>
            </div>
            <div class="full-width">
                <div class="row">
                    <app-intern-review></app-intern-review>
                </div>
            </div>
        </div>
    </div>
</section>

<app-our-clents></app-our-clents>

<app-webizy-group></app-webizy-group>